Thing hyperion:serverNG:{{ item.id }} "{{ item.name }}" @ "{{ item.location }}" [
  host="{{ item.host }}",
  priority={{ item.priority }},
  port={{ item.port }},
  poll_frequency={{ item.poll_frequency }},
  origin="{{ item.origin}}"
]
