Thing kodi:kodi:{{ item.id }} "{{ item.name }}" @ "{{ item.location }}" [
  ipAddress="{{ item.ipAddress }}",
  port={{ item.port }},
  httpPort={{ item.httpPort }},
  refreshInterval={{ item.refreshInterval }},
  notificationTimeout={{ item.notificationTimeout }}
]
